.card-item img {
  display: block;
  margin: auto;
  max-width: 200px;
  transition: 500ms;
}

.card-active {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  left: 350px;
  top: 50px;
  transition: 500ms;
}

.card-active img {
  margin-top: 0;
  max-width: 400px;
  transition: 500ms;
}

.card-details {
  margin-right: 25px;
  max-width: 800px;
  height: 80vh;
  padding: 20px;
  color: rgba(191, 191, 191, 1);
  font-size: 25px;
  box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
  background-color: rgba(239, 239, 240, 1);
  border-radius: 10px;
}

.card-details img{
  display: inline;
  max-width: 20px;
  margin: 0 1px;
  border-radius: 10px;
  background-color: rgba(239, 239, 240, 1);
}

.card-details-button {
  display: inline;
  position: relative;
  max-width: 200px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
  border-radius: 10px;
  width: 100%;
  margin:10px;
  padding: 5px;
  cursor: pointer;
}

.card-background {
  background-color: rgba(239, 239, 240, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#card-title {
  border-bottom: 1px solid rgb(174, 174, 174);
  /* box-shadow: 0px 0px 10px 1px rgb(174, 174, 174);   */
}

#card-rarity {
  display: block;
  width: 100%;
  /* margin-left: 0px; */
  margin: 0px 0px 25px 0px;
  /* right: 0; */
}

#card-text {
  margin: 0 15px 15px 15px;
  font-size: 15px;
}

/* Deck and wishlist dropdown menus */
/* Style The Dropdown Button */
.dropbtn {
  display: block;
  border: none;
  margin: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  max-width: 200px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
  border-radius: 10px;
  width: 100%;
  margin:10px;
  padding: 5px 0px;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  margin: 0;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(239, 239, 240, 1);
}