.collection-container {
  display: block;
  margin: 50px auto; 
  padding: 25px;
  max-width: 1150px;
  height: 100vh;
  border: 1px solid black;
}

.wishlist-list-container {
  display: block;
  margin: 50px auto; 
  padding: 25px;
  max-width: 1150px;
  height: 50vh;
  border: 1px solid black;
}

.deck-list-container {
  display: block;
  margin: 50px auto; 
  padding: 25px;
  max-width: 1150px;
  height: 50vh;
  border: 1px solid black;
}

.paginate {
  display: inline-block;
  text-align: center;
}

.paginate li {
  font-weight: bold;
  font-size: 10px;
  color: black;
  max-width: 75%;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

.paginate li:active {
  font-weight: bold;
}